/* config da pagina - global */
header{
    background-color: rgb(14, 14, 14);
    color: #ffffff;
    display: flex;
    justify-content: space-around;
}
/* config da pagina - global */
/* config em interna tags */
.header_02{
    display: flex;
    align-items: center;
}
#imgLogo{
    width: 80px;
}
#text{
    font-size: large;
}
/* link para os projetos */
#ProjetosLink{
    text-decoration: none;
    color: #ffffff;
    padding: 0px 13px;
    transition: 1s;
}
#ProjetosLink:hover{
    text-decoration: revert;
    color: rgb(255, 0, 255);
}
/* buttão para voltar ao home */
#btn_VoltarHome{
    padding: 10px 15px;
    border-radius: 100%;
    border: none;
    transition: 1s;
}
#btn_VoltarHome:hover{
    background-color: #000000;
    color: purple;
    filter: drop-shadow(0px 0px 12px);
}
/* buttão para voltar ao home */
/* config em interna tags */
@media (max-width: 367px){
    #ProjetosLink{
        display: none;
    }
}