.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #ffffff;
    display: flex;
    justify-content: center;
    background-color: #000000;
    height: 120px;
}

#textFooter {
    position: relative;
    display: flex;
    align-items: center;
}
/* linkes  text*/
span#redesociaisTable{
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #d400ff;
    display: inline-flex;
    border-radius: 33px;
}
#contatoAlemDaqui{
    position: absolute;
    display: none;
    transition: 2s;
    top: 26px;
}
img.iconRedessociais{
    /* nãp precisa de termina a altura, ele proprio ajusta isso junto da largura */
    width: 20px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 1px 4px 1px 0px #d400ff;
    border-radius: 30px;
    transition: 1s;
}
img.iconRedessociais:hover{
   background-color: #9c8d9e;
   box-shadow: -1px -4px 2px 0px #d400ff;
}
Footer:hover #contatoAlemDaqui{
    display: block;
}
Footer:hover #textFooter{
    display: none;
}
@media(max-width:371px){
    Footer:hover #contatoAlemDaqui{
        display: flex;
        justify-content: center;
    }
}