#main {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* user */
.btnTotal {
    margin: 2px;
}

.user {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.imgBotton {
    width: 100px;
    height: 100px;
}

/* machine */
#EscolhaRandom {
    width: 150px;
}