.skils{
    padding: 20px 0px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0px 0px 64px 9px;
}
#textIn_skils{
    border: 3px solid black;
    display: flex;
    width: 133px;
    align-items: center;
    justify-content: center;
}
#textIn_pagSkils{
    position: relative;
    margin: 18px;
    margin-left: -30%;
    transform: translateX(-30px);
}
.logos{
    width: 50px;
    transition: 1s;
}
/* hover */
.logos:hover{
    background-color: #d400ff;
    border-radius: 100%;
    border: 2px solid black;
}
#textIn_pagSkils02{
    position: relative;
    margin: 30px;
    margin-left: -30%;
    transform: translateX(-30px);
}
#skillisimg{
    padding: 59px;
    padding-top: 20px;
}
#textTempletei2skills{
    padding: 59px;
    padding-top: 20px;
}
#divTempleite3{
    display: flex;
        flex-direction: column;
        align-items: center;
}
#logosUltimaskill{
    display: flex;
    padding: 38px;
    padding-top: 0px;
}