/*parte font */
@font-face{
    font-family: 'fontPadrão';
    src: url("../assents/fonts/Bubbler_One\,Playfair_Display\,Ribeye_Marrow/");
    font-family: 'fontPhaceholder';
    src: url("../assents/fonts/Bubbler_One\,Merriweather\,Playfair_Display\,Ribeye_Marrow/");
}
/*parte font */

/* main */
body #main{
    display: flex;
    align-items: flex-end;
    color: #ffffff;
}
#main{
    font-family: 'fontPadrão';
}
/* main */

/* fora do form */
#formulario{
    display: flex;
    flex-direction: column;
}
.logo{
    display: flex;
    position: relative;
    align-items: center;
}
#texto_Logo{
    display: flex;
    align-items: center;
    margin-left: 36px;
}
#img_Logo{
    max-width: 100px;
}
/* fora do form */

/* form */
.input{
    width: 243px;
    height: 33px;
    border-radius: 20px;
    margin-top: 12px;
}
input::placeholder{
    font-family: 'fontPhaceholder';
}
#user{
    border-top: none;
    border-right: none;
    border-left: none;
}
#senha{
    border-top: none;
    border-right: none;
    border-left: none; 
}

#link-registro{
    text-decoration: none;
    animation: infinite;
    animation-name: regis;
    animation-duration: 3s;
}
/* animação */
@keyframes regis {
    0%{
        color: rgb(255, 255, 255);
    }
    50%{
        color: rgb(231, 152, 255);
    }
    100%{
        color: rgb(213, 74, 255);
    }
}
/* animação btn */

#btn{
    background-color: black;
    color: rgb(195, 0, 255);
    border: none;
    transition: 2s;
}
#btn:hover{
    background-color: rgb(195, 0, 255);
    color: #ffffff;
}
/* form */