.perfil{
    background: url(../assents/imagem/main/fundo-preto-e-branco-de-explosao_53876-85015.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}
#texto_perfil{
    max-width: 400px;
    margin-left: 30%;
    transform: translateX(-30%);
    -webkit-text-stroke-color: #ffffff;
    -webkit-text-stroke-width: 3px;
}

/* media para deixar melhor no celular */
@media(max-width: 480px) {
    .perfil {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
}